@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    overflow: hidden;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

#m_get_bell{
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 1625px;
    width: 40px;
    height: 40px;
    background: #327dff 0 0 no-repeat padding-box;
    box-shadow: 0 10px 25px #327DFF59;
    border-radius: 43px;
    border: 0;
    outline: 0;
    transition: all 75ms linear;
    animation: m_icon_enable 2s;
}

#m_get_bell:hover{
    background: #296bdb;
    box-shadow: 0 6px 25px rgba(50, 125, 255, 0.5);
    width: 42px;
    height: 42px;
    top: 19px;
    left: 1624px;
}

#m_get_bell:hover > i{
    color: #efefef;
}

#m_get_bell:active{
    background: #2158b8;
}

#m_get_bell:active > i{
    color: #d4d4d4;
}

#m_get_bell_icon{
    position: relative;
    color: #ffffff;
    opacity: 1;
    font-size: 20px;
}

#m_title{
    position: relative;
    top: 197px;
    left: 190px;
    width: 815px;
    height: 275px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100px;
    letter-spacing: 1px;
    color: #33353e;
    animation: m_title_enable 2s;
}

#m_icon_div{
    position: relative;
    top: -155px;
    left: 1040px;
    animation: m_icon_enable 2s;
}

#m_get_github{
    position: relative;
    top: -281px;
    left: 190px;
    width: 64px;
    height: 64px;
    background: #ffffff 0 0 no-repeat padding-box;
    box-shadow: 0 6px 25px rgba(50, 125, 255, 0.45);
    border-radius: 43px;
    border: 0;
    outline: 0;
    transition: background-color 150ms linear;
    animation: m_icon_enable 2s;
}

#m_get_start{
    position: relative;
    top: -261px;
    left: 205px;
    width: 240px;
    height: 64px;
    background: #327DFF 0 0 no-repeat padding-box;
    box-shadow: 0 10px 25px #327DFF59;
    border-radius: 43px;
    border: 0;
    outline: 0;
    transition: all 150ms linear;
    animation: m_icon_enable 2s;
}

#m_get_start_text, #m_get_start_icon{
    transition: all 150ms linear;
}

#m_get_start:hover{
    background: #4688ff;
    width: 250px;
}

#m_get_github:hover{
    background: #efefef;
}

#m_get_start:hover > i{
   transform: translate(10px, -20px);
}

#m_get_start:active{
    background: #2e6bd5;
}

#m_get_github:active{
    background: #d7d7d7;
}

#m_get_start:active > p, #m_get_start:active > i {
    color: #c2c2c2;
}

#m_get_start_text{
    position: relative;
    top: -24px;
    left: 0;
    width: 193px;
    height: 62px;
    text-align: center;
    font: normal normal bold 30px/46px Noto Sans KR;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
}

#m_get_start_icon{
    position: relative;
    transform:translateY(-50%);
    top: -91px;
    left: 90px;
    color: #ffffff;
    opacity: 1;
}

#copyright{
    position: relative;
    top: -60px;
    left: 545px;
    width: 595px;
    height: 36px;
    text-align: center;
    font: normal normal 300 15px/50px Noto Sans KR;
    letter-spacing: 0;
    color: #33353e;
    animation: m_icon_enable 2s;
}

@-webkit-keyframes m_title_enable{
    from{
        opacity: 0;
        top: 177px;
    }
    to{
        opacity: 1;
        top: 197px;
    }
}

@-webkit-keyframes m_icon_enable{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}