<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classto</title>

  <link href="../static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
  <div class="introduce">
    <h1 id="m_title">Check Today's Zoom Schedule</h1>
    <div id="m_icon_div">
      <img src="../static/icon.svg">
    </div>

    <button id="m_get_github" onclick="location.href = 'https\://github.com/Classto'">
      <i class="fab fa-github fa-3x"></i>
    </button>

    <button id="m_get_start" onclick="location.href='/editor'">
      <p id="m_get_start_text">Get Started</p>
      <i id="m_get_start_icon" class="fas fa-angle-right fa-3x"></i>
    </button>
  </div>
  <p id="copyright">Copyright 2021. ClassTo all rights reserved.</p>
  <script src="../static/app.js" > </script>
</body>

</html>
