body {
    height: 100%;
    margin: 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

a {
    text-decoration-line: none;
}

#e_back_i {
    position: relative;
    margin-top: 2.75vh;
    margin-left: 2.25vw;
    width: 21px;
    height: 30px;
    color: #327DFF;
    font-size: 24px;
    transition: all 150ms linear;
    opacity: 1;
}

#e_back_p {
    position: relative;
    margin-top: 2.15vh;
    margin-left: 2.25vw;
    top: -6.25vh;
    left: 1.75vw;
    width: 225px;
    height: 30px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    letter-spacing: 0px;
    color: #327DFF;
    transition: all 150ms linear;
    opacity: 1;
}

#e_back:hover > #e_back_i, #e_back:hover > #e_back_p {
    color: #4688ff;
}

#e_back:active > #e_back_i, #e_back:active > #e_back_p {
    color: #2158b8;
}

#e_back:hover > #e_back_i, #e_back:hover > #e_back_p {
    transform: translateX(-5px);
}

#category {
    position: absolute;
    width: 90vw;
    height: 5vh;
    margin-top: -5vh;
    margin-left: 14vw;
}

#category > p {
    position: absolute;
    height: 5vh;
    left: 35px;
    margin-top: 5vh;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 51px;

    color: #327DFF;
}

#category > i {
    position: absolute;
    height: 5vh;
    left: 2px;
    margin-top: 5vh;

    font-size: 27px;
    line-height: 60px;

    color: #327DFF;
}

#ct_hr {
    position: absolute;
    left: 14%;
    right: 14%;
    bottom: 78.6%;
    top: 20%;
    height: 0.2vh;

    border: 0;
    border-radius: 100rem;

    background-color: #D6D7D8;
}

@keyframes m_title_enable {
    from{
        opacity: 0;
        top: 195px;
    }
    to{
        opacity: 1;
        top: 210px;
    }
}

@keyframes m_icon_enable {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes e_pnl_enable {
    from{
        left: -25vw;
    }
    to{
        left: 0vw;
    }
}
