<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoom Scheduler</title>

  <link href="../static/editor.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
</head>
<body>
  <script src="../static/editor.js" ></script>
  <a href="/">
    <div id="e_back">
      <i id="e_back_i" class="fas fa-arrow-left"></i>
      <p id="e_back_p">Schedule Editor</p>
    </div>
  </a>
  <div id="category">
    <p>Sample</p>
    <i class="fas fa-chevron-down fa-2x"></i>
  </div>
  <hr id="ct_hr">
  <div id="sch_div">
    <div>
      <h1>Classto Schedule Test</h1>
      <div id="t_vl1"></div>
      <i id="title_i1" class="fas fa-edit"></i>
      <div id="t_vl2"></div>
      <i id="title_i2" class="fas fa-external-link-alt"></i>

      <i id="time_i" class="fas fa-clock"></i>
      <p id="time">01:50 AM</p>
      <div id="m_vl1"></div>
      <i id="name_i" class="fas fa-id-badge"></i>
      <p id="name">조신영_샌즈짱</p>
      <div id="m_vl2"></div>
      <p id="id">123 1234 1234</p>
      <hr>
    </div>
  </div>
  <div id="add_btn">
    <i class="fas fa-plus"></i>
    <div></div>
  </div>
</body>

</html>
