<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classto</title>

  <link href="../static/editor.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
  <script src="../static/editor.js" ></script>
  <div id="category">
    <p>Sample</p>
    <i class="fas fa-chevron-down fa-2x"></i>
  </div>
  <hr id="ct_hr">
  <div id="sch_div"></div>
  <button id="add_btn">
    <i class="fas fa-plus"></i>
    <div></div>
  </button>
  
  <div id='add_pnl_background'></div>
  <nav id='add_pnl'>
    <div id="add_pnl_header">
      <p>Create Schedule</p>
      <hr>
    </div>
    <div id="add_pnl_body">
      <hr id="add_pnl_vl">
      <p id="add_pnl_title">Schedule Title</p>
      <input id="add_pnl_title_input" type="text" placeholder="고양이와 아이스크림을 먹으며 온라인 미팅하기">

      <p id="add_pnl_ctgr">Schedule Category</p>
      <select id="add_pnl_ctgr_input">
        <option id="fst">Sample</option>
        <option id="lst">Decave</option>
      </select>

      <p id="add_pnl_time">Time To Connect</p>
      <input id="add_pnl_time_input" type="time">
      
      <p id="add_pnl_day">Repeating Days Of The Week</p>
      <div id="add_pnl_day_input">
        <label><input type="checkbox">Sun</label>
        <label><input type="checkbox">Mon</label>
        <label><input type="checkbox">Tue</label>
        <label><input type="checkbox">Wed</label>
        <label><input type="checkbox">Thu</label>
        <label><input type="checkbox">Fri</label>
        <label><input type="checkbox">Sat</label>
      </div>

      <p id="add_pnl_nickname">Meeting Nickname</p>
      <input id="add_pnl_nickname_input" type="text" placeholder="똑똑한 물고기">

      <p id="add_pnl_option">Video&Audio Option</p>
      <div id="add_pnl_option_input">
        <label><input type="checkbox">Video</label>
        <label><input type="checkbox">Audio</label>
      </div>

      <p id="add_pnl_id">Meeting ID</p>
      <input id="add_pnl_id_input" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="11" placeholder="Enter Meeting ID">

      <p id="add_pnl_pw">Meeting PW</p>
      <input id="add_pnl_pw_input" type="text" placeholder="Enter Meeting PW">
    </div>
  </nav>
</body>

</html>
