<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoom Scheduler</title>

  <link href="../static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap" rel="stylesheet">
</head>
<body>
  <script src="../static/app.js" > </script>

  <div>
    <button id="m_get_bell" onclick="changeIcon()">
      <i id="m_get_bell_icon" class="far fa-bell-slash"></i>
    </button>
  </div>
  <h1 id="m_title">Check Today's Zoom Schedule</h1>
  <div id="m_icon_div">
    <img src="../static/icon.svg">
  </div>
  <a href="https://github.com/unsignd/ZoomScheduler" target="_blank">
    <button id="m_get_github">
      <i class="fab fa-github fa-3x"></i>
    </button>
  </a>
  <a href="/editor">
    <button id="m_get_start">
      <p id="m_get_start_text">Get Started</p>
      <i id="m_get_start_icon" class="fas fa-angle-right fa-3x"></i>
    </button>
  </a>

  <p id="copyright">Copyright 2021. Kim Yejun all rights reserved.</p>
</body>

</html>